.text-center{
  text-align: center;
  color: #5500d6;
}

.mx-auto{
  margin: auto;
}

.flex{
  display: flex;
}

.flex-col{
  flex-direction: column;
}

.items-center{
  align-items: center;
}
